<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="${request.contextPath}/plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="${request.contextPath}/plugins/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="${request.contextPath}/plugins/jqgrid/css/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="${request.contextPath}/plugins/jquery-confirm/jquery-confirm.min.css">
<link rel="stylesheet" href="${request.contextPath}/plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="${request.contextPath}/layouts/AdminLTE-2.4.2/css/main.css">
<script src="${request.contextPath}/plugins/jquery/jquery.min.js"></script>
<script src="${request.contextPath}/plugins/layer/layer.js"></script>
<script src="${request.contextPath}/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="${request.contextPath}/plugins/vue/vue.min.js"></script>
<script src="${request.contextPath}/plugins/jqgrid/js/i18n/grid.locale-cn.js"></script>
<script src="${request.contextPath}/plugins/jqgrid/js/jquery.jqGrid.min.js"></script>
<script src="${request.contextPath}/plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="${request.contextPath}/plugins/jquery-confirm/jquery-confirm.min.js"></script>
<script src="${request.contextPath}/pages/common.js"></script>